body {
  background:lightblue;
}
.product {

  display:none;
}
#slides .product-header {
  display: 34px;
}
#slides .product-footer {
  margin:20px;
  width: 200px;
}
.product-footer .previous {
  width:75px;
  float:left;
}
.product-footer .next {
  width:75px;
  float:right;
  text-align:center;
}
